<h1>Listing text2_images</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text2_images.each do |text2_image| %>
  <tr>
    <td><%= text2_image.text %></td>
    <td><%= text2_image.url %></td>
    <td><%= link_to 'Show', text2_image %></td>
    <td><%= link_to 'Edit', edit_text2_image_path(text2_image) %></td>
    <td><%= link_to 'Destroy', text2_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text2 image', new_text2_image_path %>
