<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @text2_image.text %>
</p>

<p>
  <b>Url:</b>
  <%= @text2_image.url %>
</p>


<%= link_to 'Edit', edit_text2_image_path(@text2_image) %> |
<%= link_to 'Back', text2_images_path %>
